<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Inicio</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
        *ngFor="let producto of productoArray" class="list-group-item list-group-item-action"
        (click)="openForEditP(producto)"
        [class.active] = "producto == selectedProducto"
        >
        <div class="input-group">
          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.id_producto}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.marca}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.modelo}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.tipo_producto}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.precio_costo}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.precio_unitario}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.precio_mayoreo}}</span>
          </div>

          <div class="input-group-prepend mx-2">
            <span class="input-group-text">{{producto.id_proveedor}}</span>
          </div>
        </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">Productos - Registrar / Editar</div>
  
          <div class="form-group my-2">
            <input type="text" [(ngModel)]="selectedProducto.marca" placeholder="Inserte la marca del producto" class="form-control">
          </div>
  
          <div class="form-group my-2">
            <input type="text" [(ngModel)]="selectedProducto.modelo" placeholder="Inserte modelo del producto" class="form-control">
          </div>
  
          <div class="form-group my-2">
            <input type="text" [(ngModel)]="selectedProducto.tipo_producto" placeholder="Inserte el tipo del producto" class="form-control">
          </div>
  
          <div class="form-group my-2">
            <input type="number" [(ngModel)]="selectedProducto.precio_costo" placeholder="Inserte precio de costo" class="form-control">
          </div>
  
          <button (click)="addOrEditP()" class="btn btn-primary">
            Enviar
          </button>
          <button 
          *ngIf="selectedEmployee.id !== 0"
          class="btn btn-danger"
          (click)="deleteP()"
          >
            Borrar
          </button>
        </div>
      </div>
  </div>
</div>